.container
  h1.title Our Milestones
  .timeline
    .timeline-nav
      .timeline-nav__item 1985
      .timeline-nav__item 1988
      .timeline-nav__item 1998
      .timeline-nav__item 2006
      .timeline-nav__item 2008
      .timeline-nav__item 2010
      .timeline-nav__item 2012
      .timeline-nav__item 2013
      .timeline-nav__item 2015
      .timeline-nav__item 2016
    
    .timeline-wrapper
      .timeline-slider
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=11`, data-year=`1985`)       
            span.timeline-year 1985
            .timeline-slide__content
              h4.timeline-title Our first project
              p.timeline-text First project for the leading film actress Jamuna Barua, wife of Pramathesh Barua the legendary actor, director, and screenwriter
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=12`, data-year=`1988`)       
            span.timeline-year 1988
            .timeline-slide__content
              h4.timeline-title Our first project
              p.timeline-text First project for the leading film actress Jamuna Barua, wife of Pramathesh Barua the legendary actor, director, and screenwriter
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`1998`)       
            span.timeline-year 1998
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`2006`)       
            span.timeline-year 2006
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`2008`)       
            span.timeline-year 2008
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`2010`)       
            span.timeline-year 2010
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`2012`)       
            span.timeline-year 2012
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`2013`)       
            span.timeline-year 2013
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`2015`)       
            span.timeline-year 2015
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .timeline-slide(style=`background-image: url(https://unsplash.it/1920/600?image=13`, data-year=`2016`)       
            span.timeline-year 2016
            .timeline-slide__content
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.